.navbar {
    background-color: red;
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    padding: 8px 5px 8px 5px;
    margin-left: 30px;
    margin-right: 30px;
}

.navbar a {
    text-decoration: none;
}

.navbar-item-brand {
    color: lightgoldenrodyellow;
    font-size: 1.2em;
    font-weight: 600;
    text-shadow: 2px 2px 4px gray;
    font-variant: small-caps;
    margin-left: 30px;
}

.navbar-item {
    color: white;
    font-variant: small-caps;
    margin-left: 30px;
}
.body-content {
    background-color: lightgray;
    padding: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 30px;
    margin-right: 30px;
}

.p-body {
    text-indent: 2em;
    padding: 10px;
}

.ul-body {
    margin-left: 10%;
    margin-right: 50%;
    font-size: small;
}

.dl-body {
    margin-left: 10%;
    margin-right: 25%;
    font-size: medium;
}

.body-links {
    margin-left: 50px;
    margin-right: 50px;
    font-size: medium;
    padding: 8px 5px 8px 5px;
}

.images-body {
    margin-left: 50px;
}

.tb-image {
    padding: 20px;
}

.error {
    color: red;
    font-size: small;
    font-variant: small-caps;
    list-style-type: none;
}

.form {
    list-style-type: none;
}

.message {
    color:lightgoldenrodyellow;
    font-size: small;
    font-variant: small-caps;
    text-shadow: 2px 2px 4px gray;
    list-style-type: none;
}

h1 {
    color: red;
}

h2 {
    margin-left: 30px;
}

h3 {
    margin-left: 30px;
}

body {
    background-color: lightslategray;
}