{% extends "layout.html" %}
{% block title %}
Brew Day
{% endblock %}
{% set active_page ='brew' %}
{% block content %}
<h1>Brew Day</h1>
<hr />
<h2>How long will it take?</h2>
<p class="p-body">
    From start to finish, you could have a home-brewed beer
    in about a month. While that might seem like a long time,
    the most labor intensive part is on brew day, while most of
    the process is simply waiting for the yeast to do the bulk of the
    work. A typical brewing cycle looks like this:
</p>
<ol class="ul-body">
    <li>
        Wash all equipment that's going to touch the beer, yeast, mash, sugar source, etc.
    </li>
    <br />
    <li>
        Sanitize the same equipment. Sanitize the yeast packet (and dry hop packets, if you're using those). Sanitize all the things.
    </li>
    <br />
    <li>
        Heat up water to around 170 degrees Fahrenheit.
    </li>
    <br />
    <li>
        While your water is heating up, crush and weigh out your grains if they aren't crushed and weighed already.
    </li>
    <li>
        Once the water is heated up, and your grains (or malt) are ready, add grains to the water (I recommend using a mesh bag or metal screen designed for this) and heat up some additional sparge water.
    </li>
    <br />
    <li>
        Mix the grains into the water and stir. Keep a thermometer in the water and keep the temperature around your recipe's target by 
        adding sparge water to the mix as it cools.
    </li>
    <br />
    <li>
        Steep for the amount of time suggested by the recipe, then remove the grains, turn the heat to high, and add your first (possibly only) hops to the mix for the boil. 
    </li>
    <br />
    <li>
        You're going to boil the wort for about an hour, adding hops at different times as the recipe calls for it.
    </li>
    <li>
        It's a good idea to ready your cooling method. This could be either making an ice bath to put
        your brewing vessel into, or specialized cooling methods, such as an immersion cooler, or a plate cooler.
    </li>
    <br />
    <li>
        While the wort is cooling, prepare your fermentation vessel; usually a carboy, or brew bucket. Ensure your caps and 
        airlocks are all sanitized, as well as your transfer hoses and pump. The goal is to ensure you're not introducing any
        foreign 'wildlife' into your mix. 
    </li>
    <br />
    <li>
        Once the wort is cool enough for the yeast (varies by strain, but about 90 degrees Fahrenheit is usually "safe"), empty
        the yeast into the fermentation chamber, then transfer the wort into it using your hoses, and pump.
    </li>
    <br />
    <li>
        Carefully aerate the mixture (by shaking, or rocking) to add oxygen to the mix. This is the <i>only</i>
        time you want to introduce oxygen to the wort. Oxidized beer later in the process will taste bad.
    </li>
    <br />
    <li>
        Cap off your fermentation chamber, add a little bit of sanitizer to your airlock, and connect the airlock to the cap.
    </li>
    <br />
    <li>
        Place fermentation chamber in a cool, dark place and wait until the fermentation stops; typically 4 to 8 weeks later.
    </li>
</ol>
<p class="p-body">
    And that's it for brew day. I didn't include some of the little details, but half the fun is figuring out how you want to
    standardize your process, or scale up. Not everybody uses the same equipment, so I leave it up to you to determine what's
    in your budget. Brew day for me takes between 4 and 6 hours, depending on how well my timing is, or whether or not I 
    procrastinate on certain steps. Be forewarned, while you're steeping grains, or boiling your wort, your work area will smell
    like you're making some kind of oat meal. If you don't like the smell, I recommend you get some more portable equipment, like 
    a camping stove, and move the operation outside. Ensure you're adhering to good fire safety practices.
</p>

{% endblock %}