{% extends "layout.html" %}
{% block title %}
Homebrewing Beer
{% endblock %}
{% set active_page ='index' %}
{% block content %}
<h1>Why homebrew?</h1>
<hr />
<p class="p-body">
    Homebrewing beer is a hobby I picked up while locked away at home
    during the pandemic. I think it's a fun hobby that can be relatively
    inexpensive to start, and takes little more than knowledge of cooking to 
    get started. Having said that, you <i>can</i> wind up spending a lot of
    money on equipment, especially if you're trying to establish control over
    the environment of the yeast and consistency in your brewing process. 
</p>
<ul class="ul-body">
    <li>
        You learn a marketable skill.
    </li>
    <br />
    <li>
        You can have the kind of beer you like every time.
    </li>
    <br />
    <li>
        You'll probably make way more beer than you need. A typical batch is about 5 gallons, or 53 beers,
        so you can share it with friends.
    </li>
    <br />
    <li>
        The startup cost for brewing is relatively inexpensive for a hobby.
    </li>
    <br />
    <li>
        It's fun!
    </li>
</ul>
<p class="p-body">
    There are definitely other ways to spend your money, and the recurring costs can 
    add up over time (such as buying grains, replacing bottles, getting a kegerator
    and CO2 setup), especially if you decide to expand the hobby, but I think it's
    worth doing if you like craft beer. We're in a time where what used to require 
    a special trip to a homebrew shop now can be done online.
</p>
{% endblock %}